body {
  margin: 0;
  padding: 0;
  border: 0;
  direction: rtl;
}

#divcenter {
  width: 100%;
  height: 100vh;
}

h1 {
  position: relative;
  margin-top: 20vh;
  text-align: center;
  color: #728fce;
}
#login {
  border: 1px solid rgba(54, 57, 60, 0.1);
  box-shadow: 0 4px 8px rgb(81 85 88 / 10%);
  color: #4e4e4e;
  border-radius: 5px;
  position: absolute;
  display: block;
  width: 70%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10vh;
  text-align: center;
  max-width: 600px;
}

#formLogin {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.emali,
.password {
  width: 70%;
  margin: 0 auto;
  height: 37px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  background-color: #f6f6f6;
  
}



.labelEmail,
.labelPss {
  padding-left: 63%;
  font-weight: 700;
  
}


.labelPss {
  margin-top: 49px;
}
.password {
  margin-bottom: 40px;
}

.sgin {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 10%);
  background-color: #3490de;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.labelEmail,
.labelPss:playing {
  right: 0;
}

.forgotPssORname {
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 10px;
}

.upto{
  color: #3490de;
    text-decoration: none;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}
@media only screen and (min-width: 768px) {
  #login {
    border: 1px solid rgba(54, 57, 60, 0.1);
    box-shadow: 0 4px 8px rgb(81 85 88 / 10%);
    color: #4e4e4e;
    border-radius: 5px;
    position: relative;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    max-width: 600px;
  }
}

@media screen and (max-width: 500px) {
  #login h2 {
    font-size: 20px;
  }
  #login {width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
}

@media screen and (max-width: 320px) {
  #login h2 {
    font-size: 20px;
  }

  #login {
    border: none;
    border: 1px solid rgba(54, 57, 60, 0.4);
    box-shadow: 0 4px 8px rgb(81 85 88 / 20%);
    color: #4e4e4e;
    border-radius: 5px;
    position: absolute;
    display: block;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5vh;
    text-align: center;
    max-width: 600px;
  }

  h1 {
    position: relative;
    margin-top: 5vh;
    text-align: center;
    color: #728fce;
  }
}
